<%- include("./partials/header.ejs") %>
<main>
    <div class="rectangle">
        <h3>Vaga: Fullstack Developer (Remote)</h3>
    </div>
    <div class="roles">

        <h3><%- categoria.categoria %></h3>
        <ul>
            <li>
                <h3><%- vaga.nome %></h3>
            </li>
            <p><%- vaga.descricao %></p>
        </ul>

    </div>
</main>
<%- include("./partials/footer.ejs") %>